@page "/add-budget-item"

<h2>Add Budget Item</h2>

@if(false){
    <p><em>Loading...</em></p>
}
else{
    <table class="table table-light">
        <thead class="table-primary">
            <tr>
                <th>Item Name</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
             <tr>
                <th>Example 1</th>
                <th>Example 2</th>
                <th>Example 3</th>
                <th>Example 4</th>
            </tr>
        </tbody>
    </table>
}