@page "/budget-summary"

<h2>Budget Summary</h2>

@if(false){
    <p><em>Loading...</em></p>
}
else{
    <table class="table table-light">
        <thead class="table-primary">
            <tr>
                <th></th>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Info 1</td>
                <td>Info 2</td>
                <td>Info 3</td>
                <td>Info 4</td>
            </tr>
        </tbody>
    </table>
}