<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">budget-app</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="budget-summary">
                <span class="oi oi-plus" aria-hidden="true"></span> Budget Summary
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="adjustments">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Adjustments
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="add-budget-item">
                <span class="oi oi-beaker" aria-hidden="true"></span> Add Budget Item
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="construct-budget">
                <span class="oi oi-bolt" aria-hidden="true"></span> Construct Budget
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="archive">
                <span class="oi oi-clock" aria-hidden="true"></span> Archive
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
